RewriteEngine on
#RewriteCond %{REQUEST_URI} !-f
#RewriteCond %{REQUEST_URI} !-d
RewriteRule ^classified/?$ homePage.php [L]
RewriteRule ^friends/?$ homePage.php [L]
RewriteRule ^romance/?$ homePage.php [L]
RewriteRule ^community/?$ homePage.php [L]
RewriteRule ^politics/?$ homePage.php [L]
RewriteRule ^media/?$ homePage.php [L]
RewriteRule ^President_Trump/?$ homePage.php [L]
RewriteRule ^advertise/?$ homePage.php [L]
RewriteRule ^aboutus/?$ homePage.php [L]
RewriteRule ^create_Romance_Account/?$ homePage.php [L]
RewriteRule ^account/?$ templates/accountPage.php [L]
RewriteRule ^register/?$ homePage.php [L]
RewriteRule ^messages/?$ homePage.php [L]
RewriteRule ^profile/?$ homePage.php [L]
RewriteRule ^sponsors/?$ homePage.php [L]
RewriteRule ^CommercialForm/?$ homePage.php [L]
RewriteRule ^sitemap/?$ homePage.php [L]
RewriteRule ^home/?$ boot.php [L]
RewriteRule ^contact/?$ homePage.php [L]
RewriteRule ^president_List/?$ homePage.php [L]
