
	<div class="topTab"></div>

	<div id='headerHolder' style="height:415px;overflow:auto;width:900px;margin:auto;overflow-x:hidden;">
	<div style="padding:15px;padding-right:20px;color:#eee;font-family: arial; text-shadow: 1px 2px 6px #000;">
							<h2 style="color:#507a92;font-family: 'Great Vibes';font-size:34px">Welcome!!</h2>
							<br/>
							<div>The Agape Community is a web portal for Americans, democrats and republicans alike to discuss critical issues and solutions facing our nation today. If your desire to make America a better place has lead you here, then follow it a little further. <br/><br/>Take advantage of our current news stories, blogs, polls and groups. You can even search for a romantic partner who shares similar interest as yourself.<br/><br/> <b>Register <a href='register'><font color="red">NOW!!</font></a></b> and start making contacts right away at the Agape Community.
							<br/><br/>
							
							More features coming soon!!
							<br/><br/>
						
							Sincerely,
							<br/><br/>
							<span style='color:#507a92;font-size:22px;font-family: Great Vibes'>Marcus Estes</span>
						</div>
<script>
$("#opacback").css("height","581px");
	</script>						
