<div style='background-color: grey;'><div class="topTab"><div class='communitySectionsTemp' class='newNav2'  ><img id="OptiMainImg" style='border-radius:7px;border:solid 1px #eee;' src="images/news.gif"/></div></div>
<div style="width:855px;margin:auto;">
	<div id='articles' class="presNavs presNavsSelected" >Media</div>
	<div id='comments' class="presNavs" >Comments (<span id="agape_media_comments_count" style="color:blue;"></span>)</div>
	<div id="returnButt" style='padding:0px;margin-top:5px;padding-left:9px;font-family: arial' class="newElemHeader_sub articleControls">Back</div>
	<div id="AddComment" style='padding:0px;margin-top:5px;display:none;padding-left:9px;font-family: arial' class="newElemHeader_sub articleControls">Add comment</div>
</div>
<div style='clear:both'></div>
<div >
	<div id="articlesDiv" class="navDivs">
		<div id='headerHolder' style="height:510px;overflow:auto;margin:auto;overflow-x:hidden;overflow-y:hidden;width: 900px;">
		<!--<div style='clear:both'></div>-->
			<div class='newsElems' style='width:850px;background-color:#d5d5d5;border-radius: 6px 6px 6px 6px;padding:5px;'>
				<div style='float:left;margin-right:10px;background-color: #eee;width:300px;font-weight:bold;padding:4px;border:solid 1px #000;' id='medType'></div>
				<div style='float:left;width:510px;'>
					<div id="agape_media_title" class="newElemHeader"  ></div>
					<div  class="newElemHeader_sub" style='color:#000;' ><span style='display:inline-block;width:150px;'>Created by:</span> <i id='agape_media_author'></i></div>
					<div  style='color:#000;' class="newElemHeader_sub"><span style='display:inline-block;width:150px;'>Create date:</span> <span id="agape_media_createDate"></span></div>

					
					<div   style='color:red;'  class="newElemHeader_sub"><span style='display:inline-block;width:150px;'>Last comment date:</span> <span style='color:blue;' id="agape_media_lastComment_date"></span></div>
					<div  style='color:red;'  class="newElemHeader_sub"><span style='display:inline-block;width:150px;'>Last comment by:</span> <span style='color:blue;' id="agape_media_updatedBy"></span></div>
				</div>
				<div style='clear:both'></div>
				<div id='agape_media_content' style="color:#000;padding:8px;"></div>
			</div>
		</div>

	</div>
	<div id="commentsDiv" class="navDivs" style="display:none;">
	<div id='addmessageTabSearch' style="width:836px;height:0px;padding:8px;padding-bottom: 0px; padding-top: 0px;background:#eee;overflow:auto;overflow-x:hidden;margin:auto;display:none;">
				<div style='float:left;width:300px;font-family:arial;'>
					<div>Message:</div>
					<div style="margin-top:40px;">
						
						<div class="optButtons1" style="margin:auto;background:#524a92;color:lime;float:left;border-radius:5px;" id="searchPostmess">Post message</div>
						<div id='cancel2' style="float:left;margin-left:10px;color:red;cursor:pointer;margin-top:7px;">cancel</div>
						<div style='clear:both'></div>

					</div>
				</div>
				<div style='float:left;width:500px;margin-top:10px;'><textarea id="inputboxnew" rows="6" style='width:200px;'></textarea></div>
				<div style='clear:both'></div>
			</div>
		
		<div id="commentsSet" style="height:500px;overflow:auto;overflow-x:hidden;border:solid 1px #000;width:852px;margin:auto;background-color:gray;border-radius:0px 0px 5px 5px;">
			
		</div>
	</div>
</div>






<div id='formQuestions'></div>
</div>

<script type="text/javascript">
	
	switch(global.lastNav){

		case "search.html":
			$("#OptiMainImg").attr("src","images/romanceBanner.gif")

		break;




	}

	$(".presNavs").each(function(){
		$(this).on("click",function(){
			//alert($(this).attr("id"))

			$(".presNavs").each(function(){
				$(this).removeClass("presNavsSelected");
			})
			$(this).addClass("presNavsSelected");
			$(".navDivs").each(function(){
				$(this).hide();
			})
			var b=$(this).attr("id")+"Div";
			$("#"+ b ).show();

			if($(this).attr("id")=="comments"){
				$("#AddComment").show();
				$("#statsBarNews").css("width","380px");
			}else{
				$("#AddComment").hide();
				$("#statsBarNews").css("width","270px");
			}
		})
	})




	switch(ingniteLightBox.temp.id){


		case 'pollComms':
			$("#medType").append("<div id='polltitle' class='rowHolderHeaders_search' style='padding-top:9px;height:56px;padding-bottom:15px;'></div>");

			$("#medType").append("<input type='hidden' id='poll_ID' /><div id='pollHolder' style='border-bottom:solid 1px #eee;border-left:solid 1px #eee;padding-top:15px;border-right:solid 1px #eee;width:94%;margin-bottom:20px;padding-right:6px;'></div>");
			
			
			var you=ingniteLightBox.temp.param+"";
			var poll_ID=you.split("_");
			var opti 
			var quesObj={};
			quesObj.job="quickSelect_atomic"
			quesObj.dbase="agape_pollQuestions";
			quesObj.param="question_ID";
			quesObj.start=0;
			quesObj.value=poll_ID[1]
			func21=function(data){
				var data1=globalTools.verify(data);
				opti = new questionBuilder({
					"background-color":"gray",
					"color":"#000",
					"chartSlider":{
						"background-color":"#524a92",
						"color":"#fff"
					},
					"innerStyle":{
						"tColor":"#524a92",
						"pColor":"navy",
						"rtsColor":"red"
					}
				});
				opti.createPoll(data1,"polltitle",'medType','poll_ID',poll_ID[1]);
				opti.pollVerify(quesObj.value,opti);
			}
			ajaxCallMedia(quesObj,func21);
			var ret=function(val){
				var val1=globalTools.verify(val);
			

				$("#agape_media_comments_count").html(val1.returnObj[0].agape_comments_count);
			}
			
			CommentBoss.setDivName("pollsDiv")
			CommentBoss.set_ingniteLightBox(ingniteLightBox.temp)
			CommentBoss.getComments(ingniteLightBox.temp.param,'commentsSet',ret);

			$("#AddComment").unbind("click").on("click",function(){
				$("#addmessageTabSearch").show().animate({"height":"120px"},"slow")
			})

			//global.newsObjView.agape_media_SourceID
			$("#cancel2").on("click",function(){
				TweenMax.to($("#addmessageTabSearch")[0],.4,{css:{height:"0px"}});
			})

			var c=getTime(ingniteLightBox.temp.obj.question_created,"true","native")
			var d=getTime(ingniteLightBox.temp.obj.question_lastUpdated,"true","native")
			$("#agape_media_author").html(ingniteLightBox.temp.obj.question_createdBy)
			$("#agape_media_createDate").html(c)
			$("#agape_media_lastComment_date").html(d)
			$("#agape_media_updatedBy").html(ingniteLightBox.temp.obj.question_updatedBy)

			

		break;

	}






	
</script>