
	<div class="topTab">message</div>
	<div  class="panelLead_sub" >
		<div id='spinner' style='opacity:0;margin:auto;width:400px;height:300px;border:solid 1px #eee;border-radius:13px;color:#eee;text-align:center;vertical-align:middle;font-size:24px;padding:8px;'><div>Thank you for your inquiry.<br/><br/>Your message will be sent to the appropriate team and you will receive a response within 72 hours.
		</div>
			<div  style='width:100%;margin-top:35px;'>
				<div style='width:60px;letter-spacing: 1px;padding-bottom:5px;text-shadow:1px 1px #000;' class='sliderButtonStyle1a messagebuttonStyle'>close</div>

			</div>
		</div>
		
		
	</div>
	<script style="text/javascript">
		$(document).ready(function(){
			var messageshower=document.getElementById('spinner')
			TweenMax.to(messageshower,.4,{css:{opacity:1}})
		})
	</script>
	
								