<link rel="stylesheet" href="scripts/jquery-ui-1.11.2.custom/jquery-ui.css">
<link rel="stylesheet" href="scripts/jquery-ui-1.11.2.custom/jquery-ui.theme.min.css">
<link rel="stylesheet" href="scripts/jquery-ui-1.11.2.custom/jquery-ui.structure.min.css">
 <script src="scripts/jquery-ui-1.11.2.custom/jquery-ui.js"></script>




  <div class="topTab">Your profile</div>
					
					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is your date of birth?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_profile_dateOfBirth'>
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;;">
							<div class='newQuestionbLabels'>How would you describe your body type?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id="agape_profile_bodyType">
									<option>Male</option>
									<option>Female</option>
									<option>Either</option>
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
					
					</div>

					


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is your height?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_height' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>

					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is your level of education?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_education' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>

					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Do you have children?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_children' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>

					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>In 400 words or less how would you describe yourself?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_description' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>In 400 words or less how would you describe your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_partner_description' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>In 400 words or less how would you describe your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_partner_description' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>

					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>In 400 words or less describe an ideal introductory date?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_firstDate' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>

					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Please select your salary range</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_salary' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Please select your religion</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_religion' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Do you use drugs?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_drugs' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Do you use alcohol?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_alcohol' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is age range of your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_age_range' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>




					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is salary range of your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_salary' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>




					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Filter ideal parnter drug use?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_drugs' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Filter ideal parnter religion?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_religion' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Filter ideal parnter education?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_education' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Filter ideal parnter alcohol use?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_alcohol' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Filter ideal parnter by children?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_children' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>




					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Filter ideal parnter by body type?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_bodyType' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is your race?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_race' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>





					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is the race of your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_race' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>What is the height of your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_partner_height' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>



					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Would you like to have children in the future?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_children_future' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>

					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>How much capital are you looking to invest?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<div class="hasDatepicker">
									<input type='textbox' class="inputboxnew" id='agape_profile_amt2Invest' />
								</div>
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>


					<div class="newQuestionHolder">
						<div style="width:550px;margin:auto;">
							<div class='newQuestionbLabels'>Select the traits for your ideal partner?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='datepicker' />
							</div>
							<div style="clear:both"></div>
						</div>
						
						
						<!--<div style='float:left;color:#dedede;font-size:36px;width:220px;'>Last name</div>
						<div style='float:left;'><textarea rows="3" styles="border: solid 1px #000;border-radius:5px"></textarea></div>
						<div style="clear:both"></div>-->
					</div>
					<script type='text/javascript'>

alert(22)
										
						$(document).ready(function(){
								
								$("#agape_profile_amt2Invest").datepicker();
							})
						
alert(656)
						
					</script>


					