<div class="topTab">Get started meeting people in your area right now for free.<br><span style='color:#eee;'>Start your romance profile</span></div>
	<div id='formQuestions' style="width:700px;margin:auto;font-family:arial;">
					<div class="newQuestionHolder">
							<div style="width:680px;margin:auto;">
								<div class='newQuestionbLabels1'>First name</div>
								<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
									<input type='textbox' class="inputboxnew" id='agape_profile_firstname' />
								</div>
								<div style="clear:both"></div>
							</div>
						
						</div>

						<div class="newQuestionHolder">
							<div style="width:680px;margin:auto;">
								<div class='newQuestionbLabels1'>Last name</div>
								<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
									<input type='textbox' class="inputboxnew" id='agape_profile_lastname' />
								</div>
								<div style="clear:both"></div>
							</div>
						
						</div><div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>What is your gender?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_profile_gender'>
									<option>Select one</option>
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
					
					</div>


					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>Which gender are you seeking?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_partner_gender'>
									<option>Select one</option>
									<option>Male</option>
									<option>Female</option>
									<option>Either</option>
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
					
					</div>
					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>Intentions for connection</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_profile_intentions'>
									<option>Select one</option>
								
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>

					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>Email address</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input id='agape_profile_email' type='textbox' class="inputboxnew"/>
							</div>
							<div class='teet doNotDisplay' id="agape_profile_email_err" style='float:left;color:red;font-size:12px;font-weight:bold;padding-top:5px;padding-left:8px;'>Email taken</div>
							<div style="clear:both"></div>
						</div>
					</div>
					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>Username</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_username' />
							</div>
							<div class='doNotDisplay' id="agape_profile_username_err" style='float:left;color:red;font-size:12px;font-weight:bold;padding-top:5px;padding-left:8px;'>Username taken</div>
							<div style="clear:both"></div>
						</div>
					</div>

					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>Password</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<input type='textbox' class="inputboxnew" id='agape_profile_password' />
							</div>
							<div class='doNotDisplay' id="agape_profile_password_err" style='float:left;color:red;font-size:12px;font-weight:bold;padding-top:5px;padding-left:8px;'>password taken</div>
							<div style="clear:both"></div>
						</div>
					</div>
					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>What is your age?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_profile_age'>
								</select>
							</div>
							<div class='teet doNotDisplay' id="agape_profile_age_err" style='float:left;color:red;font-size:12px;font-weight:bold;padding-top:5px;padding-left:8px;'>Email taken</div>
							<div style="clear:both"></div>
						</div>
					</div>

					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>What is your race?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_profile_race'>
								</select>
							</div>
							
							<div style="clear:both"></div>
						</div>
					</div>
					

					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>What state do you want to search in?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								
								<select class="dropDownNew" id='agape_profile_state'>
									<option>Select one</option>
								
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>


					<div class="newQuestionHolder">
						<div style="width:680px;margin:auto;">
							<div class='newQuestionbLabels1'>What city do you want to search in?</div>
							<div style='float:left;padding:4px;background-color:#dedede;border-radius:5px;'>
								<select class="dropDownNew" id='agape_profile_city'>
									<option>Select a state</option>
								
								</select>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>

					

					
					
					<div style='width:600px;'>
						<div style='width:170px;margin:auto;'>
							<div id="gStartedButton" class='optButtons1' >Get started!!</div>
							
							<div style='clear:both;'></div>
						</div>
					</div>
				</div>

					<script type="text/javascript">
				
						$(document).ready(function(){

							var stateObj
							var verif=Verifyuser();
							if(verif=="false"){
								//user logged out
								stateObj = new stateElem('states',"agape_profile_state","agape_profile_city","true","true");
							}else{
								//user logged in
								stateObj = new stateElem('statesFull',"agape_profile_state","agape_profile_city","true","true",global.userObj.agape_profile_state,global.userObj.agape_profile_city);

								for(var key in global.userObj){
									if($("#"+key)){
										$("#"+key).val(global.userObj[key])
									}
								}
							}

							//populate age drop down 18-88
							for(i=18;i<89;i++){
								$("#agape_profile_age").append("<option value="+i+">"+i+"</option>")
							}


							//populate race drop down 18-88
							var fieldIndx=formObj.fields[10].quesParams.length;
							for(v=0;v<fieldIndx;v++){
								if(formObj.fields[10].quesParams[v]!="Not important"  && formObj.fields[10].quesParams[v]!="Not Answered"){
									$("#agape_profile_race").append("<option>"+formObj.fields[10].quesParams[v]+"</option>");
								}
							}
									

							var fieldIndx=formObj.fields[0].quesParams.length;
							for(v=0;v<fieldIndx;v++){
								if(formObj.fields[0].quesParams[v]!="Not important"  && formObj.fields[0].quesParams[v]!="Not Answered"){
									$("#agape_profile_intentions").append("<option>"+formObj.fields[0].quesParams[v]+"</option>");
								}
							}

							$("#opacback").css("height","849px");
							$("#footerPush").css({"height":"850px"})


							$("#agape_profile_username").on("blur",function(){
								
								var verify ={}
								verify.job="quickVerifyRecs";
								verify.dbase="agape_profile";
								verify.param="agape_profile_username";
								verify.value=$("#agape_profile_username").val();
								retFunc=function(data){
									var data=$.trim(data)
									var tData=data.split("**");
									switch(tData[0]){
										case 'No Good':
											$("#agape_profile_username").focus();
											$("#agape_profile_username_err").removeClass("doNotDisplay");
											global.fieldChk.username="stop";
										break;

										case 'Good':
											global.fieldChk.username="go";
											$("#agape_profile_username_err").addClass("doNotDisplay");
										break;
									}
								}
								ajaxCallPost(verify,retFunc);
							})


							$("#agape_profile_email").on("blur",function(){
								var verify ={}
								verify.job="quickVerifyRecs";
								verify.dbase="agape_profile";
								verify.param="agape_profile_email";
								verify.value=$("#agape_profile_email").val();

								retFunc=function(data){
									
									var data=$.trim(data)
									var tData=data.split("**");
									switch(tData[0]){
										case 'No Good':
											$("#agape_profile_email").focus();
											$("#agape_profile_email_err").removeClass("doNotDisplay");
											global.fieldChk.email="stop";
										break;

										case 'Good':
											global.fieldChk.email="go";
											$("#agape_profile_email_err").addClass("doNotDisplay");
										break;
									}
								}
								ajaxCallPost(verify,retFunc);
							})

							$("#formQuestions :input").each(function(){
								
								$(this).on("keyup",function(){
									var pass="true"
									$("#formQuestions :input").each(function(){
										if($(this).val()=="" || $(this).val()=="Select one"){
											pass="false"
										}
									})
									

								
								/**if(pass=="false"){
									$(".optButtons1").each(function(){
										$(this).addClass("optButtonOff");
										$(this).unbind("click");
									})
								}

								if(pass=="true"){
									$(".optButtons1").each(function(){
										$(this).removeClass("optButtonOff");
										$(this).unbind("click");
										$("#gStartedButton").bind("click",function(){
											getstarted();
										})
									})
								}*/

							})
					

							$(this).on("change",function(){
								var pass="true"
								$("#formQuestions :input").each(function(){
									if($(this).val()=="" || $(this).val()=="Select one"){
										pass="false";
										
									}
								})

								if(pass=="true"){
									openButtons();
									addMouseOver1();
									$("#gStartedButton").unbind("click");
									$("#gStartedButton").bind("click",function(){
										getstarted();
									})
									
								
								}
								if(pass=="false"){
									$(".optButtons1").each(function(){
										$(this).addClass("optButtonOff");
										$(this).unbind("click");
									})
								}
							})
						})

					})

						
				</script>