
.overF{
	overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.socialbanner{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f4774+0,2989d8+49,2f4774+100 */
background: #2f4774; /* Old browsers */
background: -moz-linear-gradient(top, #2f4774 0%, #2989d8 49%, #2f4774 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2f4774 0%,#2989d8 49%,#2f4774 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2f4774 0%,#2989d8 49%,#2f4774 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4774', endColorstr='#2f4774',GradientType=0 ); /* IE6-9 */
}


/* desktop size   */
@media only screen and (max-width: 1800px) {
    .tag {
        /*background-color: lime;*/
    }


    .mainAd{
    	width:100%;
    	margin:auto;
    	background-color: #c96cbd;
    	padding-bottom:4px;
    }

	a.nFooter:visited {
			color:#c96cbd;

		}

	a.nFooter:link  {
		color:#c96cbd;

	}

	a.nFooter:active  {
		color:#c96cbd;

	}

	a.nFooter:hover {
		color:lime;

	}


	.adverImageDiv{
		width:700px;
		margin:auto;
		padding-top:4px;
	}

	.sponsorbackground{
		background-color: #2f4774;
		width:100%;
		color:#eee;
		height:85px;
		padding-top: 10px;
		border-top: solid 1px #000;
		margin-top:200px;
		border-bottom: solid 1px #000;
	}

	.FooterDiv{
		background-color:#2f4774;
		color:#eee;
		height:60px;
		margin-top:0px;
	}


	.secondtier{
		margin-top:0px;
		color:#000;
	}


	.secondtierContainer{
		height:340px;
		background-color:#eee;
		width:100%;
		padding-top:10px;
		background-image:url('../images/secondTire.png');
	}


		.secondtierContainer1{
		height:340px;
		background-color:#eee;
		width:100%;
		padding-top:10px;
		background-image:url('../images/secondTire1.png');
	}


	

	.fontSizefront{
		font-size: 20px;
	}


	.newsContainer{
		color:#fff;
		padding-top:130px;


	}


	.fontColorLabels{
		
	}

	.hamburgerStyle{
		margin-top:0px;

	}

	.tPaddMobileLogin{
		margin-top: 0px;
	}

	.footerW{

		width:40%;
		margin: auto;
	}

	.onlineUserClass1{
		background-color: #000;
	}


	.listUsersOnline{
	    width:220px;
	    height:230px;
	    margin:auto;
	    background-color: #eee;
	    margin-top:10px;
	    overflow: auto;
	    overflow-y: hidden;
	    position:relative;
	}

	.usersOnline
	{
	    margin:auto;
	    height:35px;
	    width:280px;
	    background-color: #fff;
	    border:solid 1px #000;
	    border-radius: 5px 5px 5px 5px;
	    box-shadow:0px 2px 8px #000;
	    overflow: auto;
	    overflow-y: hidden;
	    /*position:absolute;
	    	z-index:500;
	    	top:290px;*/
	    left:25px
	}


	.pollStyle{
	  width:100%;
	  color:#ccc;
	}


    .rowHolderHeaders_search{
        width:100%;
        height:30px;
        text-align:center;
        color:#fff;
        background-color:#524a92;
        border-radius:4px 4px 0px 0px;
    }


    .pStyleDiv{
    	width:94%;
    	margin:auto;
    	font-family:arial;
    }


    .pollHolder{
    	padding-left:20px;
    	border-bottom:solid 1px #eee;
    	border-left:solid 1px #eee;
    	padding-top:15px;
    	border-right:solid 1px #eee;
    	width:54%;
    	margin-bottom:20px;
    	padding-right:6px;
    	background-color: #000;
    }


    .searchPolls{

    	width:90%;
    	margin:auto;

    }

  .searchIBox{
    width:50%;
    float:left;
    margin-left:10px;
  }


}









/* Application size   */

@media only screen and (max-width: 700px) {
    .tag {
        /*background-color: #4a5692;*/
    }


	a.nFooter:visited {
		color:#c96cbd;

	}

	a.nFooter:link  {
		color:#c96cbd;

	}

	a.nFooter:active  {
		color:#c96cbd;

	}

	.sponsorBackground{
		background-color: #2f4774;
		width:100%;
		color:#eee;
		height:350px;
		padding-top: 10px;
		border-top: none;

		margin-top:220px;
	}



	.FooterDiv{
		background-color:#2f4774;
		color:#eee;
		height:60px;
		margin-top:0px;

	}

	.secondtier{
		margin-top:0px;
		color:#eee;

	}

	.secondtierContainer{

		height:600px;
		width:100%;
		padding-top:10px;
		background-image:none;
		color:#eee;
		background-color: #2a69b0;

	}

	
	.secondtierContainer1{
		height:640px;
		background-color:#eee;
		width:100%;
		padding-top:10px;
		background-image:url('../images/secondTire1.png');
	}


	.fontSizefront{
		font-size: 14px;
	}

	.newsContainer{
		color:#fff;
		height:630px;
		padding-top:0px;


	}


	.caseStyleHeader{
		font-size:14px !important;
	}

	.hamburgerStyle{
		margin-top:70px;

	}

	.fontColorLabels{
		color:#eee !important;
	}

		
	.tPaddMobileLogin{
		margin-top: 35px;
	}

	.htClass{
		height:250px;
	}

	.footerW{

		width:70%;
		margin: auto;
		
	}

	.listUsersOnline{
	    width:270px;
	    height:230px;
	    margin:auto;
	    background-color: #eee;
	    margin-top:10px;
	    overflow: auto;
	    overflow-y: hidden;
	    position:relative;
	}

}


@font-face {
    font-family:Great Vibes;
    src: url('../fonts/Great Vibes.ttf'), url('../fonts/Great Vibes.eot');
}



@media only screen and (max-width: 500px) {

	.adverImage{
		width:100%;
	}


	.adverImageDiv{
		width:100%;
		margin:auto;
	}

}



@media only screen and (max-width: 1000px) {
  /*.searchDrpDwnDiv{
    width:180px;
    background-color:#eee;
    height:40px;
    float:left;
    border-radius: 5px;
    padding:5px;
  }

  .searchDrpDwnSelect{
    width:160px;
    border:none;
    background-color:#eee;
  }*/


   .searchIBox{
    width:100%;
    float:left;
    margin-left:10px;
  }
}


.optButtons1{
    float:left;
    width:150px;
    color:#507a92;
    padding:6px;
    background-color:#000;
    text-align:center;
    border:solid 1px #507a92;
    cursor:pointer;
    box-shadow:0px 2px 2px #000;
    opacity:1;

}

.optButtonHover{
    border:solid 1px #507a92;
    color:#507a92;
}

 .optButtonOff{
    box-shadow:0px 0px 0px #000;
    color:#08090a;
    cursor:default;
    border:solid 1px #000;
    display:none;
 }



.liStyles{
	display:inline;
	padding-top:0px;
	padding:4px;
	text-decoration:underline;
	cursor:pointer;
	font-size:12px;
	font-family:helvetica;
	color:lime;
}


.liStyles_over{
   
    color:red;
    font-weight:bold;
}
	